<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="BillDispenser" value="F53"/>
    <add key="COMBillDispenser" value="COM8"/>
    <add key="BillAcceptor" value="SCAdvanced"/>
    <add key="COMBillAcceptor" value="COM10"/>
    <add key="CoinDispenser" value="ComboT"/>
    <add key="CoinAcceptor" value="ComboT"/>
    <add key="COMComboT" value="COM4"/>
  </appSettings>
</configuration>
